In [23]:
import scipy as sp
import numpy as np
import pandas as pd

In [17]:
import requests

url = "https://api.yelp.com/v3/businesses/search?latitude=53.343504&longitude=-6.270592&radius=1000&sort_by=best_match&limit=50"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer Bz_Eh2Iu4T3_tcMGLS8cbd9Ctafvk8kAyh4HZLNfvrDEQlyNZdVhX-nmaCoff4Wzz6Gf2tSBx3zmH0XkfG2gFbZ_ejxdIiLW6hhAU0r36DXLNJkVIxu0nG3X27iLY3Yx"
}

response = requests.get(url, headers=headers)

print(response)

<Response [200]>

In [20]:
dublin_yelp = response.json()

In [22]:
import json
with open('dublin_yelp.json') as f:
    dublin_yelp = json.load(f)
dublin_yelp.keys()

dict_keys(['businesses', 'total', 'region'])

In [35]:
pd.json_normalize(dublin_yelp, record_path = 'businesses')
dublin_yelp_df = pd.json_normalize(dublin_yelp, record_path = 'businesses')
dublin_yelp_df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,rKvPQZcgjrQOLRU0phPoAQ,queen-of-tarts-dublin-4,Queen of Tarts,https://s3-media2.fl.yelpcdn.com/bphoto/kjbRj0...,False,https://www.yelp.com/biz/queen-of-tarts-dublin...,513,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",4.5,[],...,53.344121,-6.267529,Cork Hill,Dame Street,,Dublin,2,IE,D,"[Cork Hill, Dame Street, Dublin 2, Republic of..."
1,EoMjdtjMgm3sTv7dwmfHsg,the-boxty-house-dublin,The Boxty House,https://s3-media3.fl.yelpcdn.com/bphoto/p3oq35...,False,https://www.yelp.com/biz/the-boxty-house-dubli...,936,"[{'alias': 'irish', 'title': 'Irish'}]",4.5,[],...,53.345719,-6.262216,20-21 Temple Bar,,None,Dublin,2,IE,D,"[20-21 Temple Bar, Dublin 2, Republic of Ireland]"
2,fR-pJ6nUn1bjPuT6lS2bsQ,the-brazen-head-dublin,The Brazen Head,https://s3-media2.fl.yelpcdn.com/bphoto/yITsjT...,False,https://www.yelp.com/biz/the-brazen-head-dubli...,744,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.0,[],...,53.344970,-6.276330,20 Bridge Street Lower,None,None,Dublin,8,IE,D,"[20 Bridge Street Lower, Dublin 8, Republic of..."
3,81ikZcaZdposAXoCkJzG7w,queen-of-tarts-dublin-5,Queen of Tarts,https://s3-media1.fl.yelpcdn.com/bphoto/MeR_ro...,False,https://www.yelp.com/biz/queen-of-tarts-dublin...,255,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",4.5,[],...,53.344400,-6.268930,Cows Lane,Temple Bar,None,Dublin,2,IE,D,"[Cows Lane, Temple Bar, Dublin 2, Republic of ..."
4,htRFt8839ESFFV9Wnvu5iQ,jameson-distillery-bow-st-dublin,Jameson Distillery Bow St,https://s3-media2.fl.yelpcdn.com/bphoto/-kY1vN...,False,https://www.yelp.com/biz/jameson-distillery-bo...,550,"[{'alias': 'museums', 'title': 'Museums'}, {'a...",4.5,[],...,53.348380,-6.277354,Bow Street,Smithfield Village,None,Dublin,7,IE,D,"[Bow Street, Smithfield Village, Dublin 7, Rep..."

In [36]:
dub_yelp_df_concise = dublin_yelp_df.drop(columns=['id', 'alias', 'image_url', 'is_closed', 'url', 'transactions', 'location.address1', 'location.address2', 'location.address3', 'location.city', 'location.zip_code', 'location.country', 'location.state', 'price', 'phone', 'display_phone'])
dub_yelp_df_concise.head()

,name,review_count,categories,rating,distance,coordinates.latitude,coordinates.longitude,location.display_address
0,Queen of Tarts,513,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",4.5,214.627318,53.344121,-6.267529,"[Cork Hill, Dame Street, Dublin 2, Republic of..."
1,The Boxty House,936,"[{'alias': 'irish', 'title': 'Irish'}]",4.5,608.171192,53.345719,-6.262216,"[20-21 Temple Bar, Dublin 2, Republic of Ireland]"
2,The Brazen Head,744,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.0,414.325559,53.344970,-6.276330,"[20 Bridge Street Lower, Dublin 8, Republic of..."
3,Queen of Tarts,255,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",4.5,148.657819,53.344400,-6.268930,"[Cows Lane, Temple Bar, Dublin 2, Republic of ..."
4,Jameson Distillery Bow St,550,"[{'alias': 'museums', 'title': 'Museums'}, {'a...",4.5,703.882174,53.348380,-6.277354,"[Bow Street, Smithfield Village, Dublin 7, Rep..."

In [38]:
type(dub_yelp_df_concise['categories'])
dub_yelp_df_concise['categories'] = dub_yelp_df_concise['categories'].apply(str)

In [59]:
dub_yelp_df_concise.loc[dub_yelp_df_concise['categories'].str.contains("nightclub", case=False)]

Empty DataFrame
Columns: [name, review_count, categories, rating, distance, coordinates.latitude, coordinates.longitude, location.display_address]
Index: []